.mainDiv{
    margin: 5%;

}
.images{
    width: 80%;
    height: 300px;
    border: solid 2px black;
}
.internalDiv{
    width: 400px;
    float: left;
}
.btn{
    margin-left: 15%;
    width: 50%;
    height: 35px;

    background-color: pink;
    border: black solid;
    border-radius: 20px;
}
.listItems{
    margin-left: 15%;
    color: purple;
    font-size: x-large;
    text-shadow: 1px 1px 2px pink;
}
#textBtn{
    margin-left: 20%;
    margin-top: 40%;
    width: 50%;
    height: 35px;

    background-color: orange;
    border: black solid;
    border-radius: 20px;
}