
.mainwindow{
    border: 2px solid black;
    height:100px

}
    

.click{
    position: absolute;
    background-color: orange;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 8px;
    margin-left: 100px;
    margin-top: 20px;
    
}

.modalwindow{
    position: fixed; /* makes this window overlap over everything else*/
    
    top: 0px;
    bottom:0px;
    right:0px;
    left:0px;

    background-color: rgba(30,86,124,0.5);
    opacity: 0; /* opacity 0 will make this window invisible until activated my target*/
    pointer-events: none;
}
.modalwindow:target{
    /* target means what will happen when modalwindow becomes active*/
    opacity: 1;
    pointer-events: all;
}

.msgblock{
    position: relative;
    width: 60%;
    background-color: orange;
    margin: auto;
    margin-top: 30%;
}




.frame{
    width:100%;
    height: 300px;
    border: 2px solid black;
    overflow: hidden;
}

.slidegroup{
    width: 400%; /* with will fit 4 slides side by side */
    height: 100%;
    animation: slide 6s infinite ;/*name duration timing-function delay iteration-count direction fill-mode*/

}

.slide{
    width: 25%; /*means  25% of slidegroup since we have  diffent 4 slides (4*25% = 100% )*/
    height: 100%;
    float:left;
    font-size: 160px;
    text-align: center;
}

.slide1 img{
    width: 100%;
    height: 100%;
}
.slide2 img{
    width: 100%;
    height: 100%;
}
.slide3 img{
    width: 100%;
    height: 100%;
}
.slide4 img{
    width: 100%;
    height: 100%;
}
@keyframes slide{
    0%{margin-left: 0%;}
    33%{margin-left: -100%;}
    69%{margin-left: -200%;}
    100%{margin-left: -300%;}
}